body{
    font-family: 'Open sans',sans-serif;
    background-color: gray;
}
#container{
    width:  1000px;
    height: 550px;
    background-color: greenyellow;
    margin: 20px auto;
}
#calculadora{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position:relative;
    border-radius: 5px;
    box-shadow: black;
}
#resultado{
    height: 120px;
}
#historico{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#resultado{
    text-align:right;
    height: 80px;
    margin: 10px 20px;
    font-size: 30px;
}
#teclado{
    height: 400px;
}
.operador, .numero, .vazio{
    width: 50px;
    height: 50px;
    margin: 15px;
    float:left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}
.numero, .vazio{
    background-color: #eaedef;
}
.numero, .operador{
    cursor: pointer;
}
.operador:active, .numero:active{
    font-size:13px;
}
.operador:focus, .numero:focus, .vazio:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 20px;
    background-color: rgb(95, 139, 160);
}
button:nth-child(8){
    font-size: 20px;
    background-color: rgb(136, 158, 55);
}
button:nth-child(12){
    font-size: 20px;
    background-color: rgb(32, 33, 134);
}
button:nth-child(16){
    font-size: 20px;
    background-color: rgb(112, 19, 112);
}
button:nth-child(20){
    font-size: 20px;
    background-color: rgb(160, 95, 95);
}